/* styles.css */

#root{
    width: 100%;
}

/* MapComponent styles */
.MapComponentContainer {
    height: 85vh;
    width: 70%;
    float: left;
}

/* Sidebar styles */
.SidebarContainer {
    width: calc(30% - 20px);
    float: left;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
    background-color: rgb(211, 211, 211);
}

/* Sidebar item styles */
.SidebarItem {
    margin-bottom: 10px;
    width: 80%;
    padding: 3px 20px;
    border-radius: 5px;
    background-color: white;
}

.container{
    margin-top: 20px;
}

.sidebar-input{
    width: 100%;
    resize: vertical;
}

.meter-container{
    position: relative;
}

.meter-square{
    position: absolute;
    top: -5px;
    font-size: 14px;
}

.sideBar-content-item{
    display: flex;
    justify-content: space-between;
}