/* styles.css */

#root{
    width: 100%;
}

/* MapComponent styles */
.MapComponentContainer {
    height: 85vh;
    width: 70%;
    float: left;
}

/* Sidebar styles */
.SidebarContainer {
    width: calc(30% - 20px);
    float: left;
    height: 900px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
    background-color: rgb(211, 211, 211);
}

.secondary{
    display: none;
}

.item-container{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

/* Sidebar item styles */
.SidebarItem {
    margin-bottom: 10px;
    width: 80%;
    padding: 3px 20px;
    border-radius: 5px;
    background-color: white;
}

.container{
    margin-top: 20px;
    height: 930px;
}

.MapComponentContainer{
    height: 910px;
}

.sidebar-input{
    width: 100%;
    resize: vertical;
}

.meter-container{
    position: relative;
}

.meter-square{
    position: absolute;
    top: -4px;
    right: -14px;
    font-size: 14px;
}

.sideBar-content-item{
    display: flex;
    justify-content: space-between;
}

.item-label-container{
    display: flex;
    justify-content: start;
    gap: 8px;
}

.item-svg{
    width: 25px;
    filter: invert(10%) sepia(77%) saturate(1321%) hue-rotate(207deg) brightness(94%) contrast(90%);
}

.warning-container {
    padding: 0 20%;
    border: 1px solid rgb(255, 157, 0);
    background-color: #ffe6e6;
    margin: 10px 0;
}
  
.warning-text {
color: rgb(255, 157, 0);
font-weight: bold;
}


/* XxXxXxXxXxXxX */

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 16px;
    background-color: #fff;
  }
  
  .card img {
    width: 50px;
    border-radius: 8px 8px 0 0;
  }
  
  .card-title {
    font-size: 1.5em;
    margin: 16px 0 8px 0;
  }
  
  .card-description {
    font-size: 1em;
    margin-bottom: 16px;
  }
  
  .card-footer {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    padding: 5px;

    & > input[type="number"]{
        width: 40px;
        margin-right: 20px;
    }

    & > input[type="checkbox"]{
        width: 40px;
        margin-right: 10px;
    }
  }

  .card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card{
    flex-basis: 25%;
    height: 150px;
    position: relative;
  }

  .card-title-container{
    display: flex;
    justify-content: start;
    gap: 25px;
  }

  .household-info{
    width: 40px;
  }